@{
    ViewData["Title"] = "Login";
}
@section Scripts{
    <link href="~/css/"/>
}

<br/>
<div>
    <form id="singup">
        <div class="card">
            <div class="card-header">
                LOGIN
            </div>
            <div class="card-body">
                <form>
                    <div class="form-check form-check-inline">
                        <input type="tel" class="form-control" pattern="[0-9]" rows="1" maxlength="9" />
                    </div>
                    <div class="row-cols-auto">
                        <br />
                        <button type="submit" class="btn btn-primary text-center align-content-center">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>

<!--
    <div class="row-cols-3">
        <input type="text" id="user" class="form-control" placeholder="email" required/>
    </div><br/>
    <div class="row-cols-3">
        <input type="password" id="pass" class="form-control" placeholder="password" required/>
    </div><br/>
    -->
<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

 Modal
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
-->
